.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  h1 {
    color: var(--mantine-color-secondary-0);
  }
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 300px;

  .mantine-Input-input.mantine-TextInput-input,
  .mantine-Input-input.mantine-PasswordInput-input {
    width: 500px;
  }

  .mantine-TextInput-error,
  .mantine-PasswordInput-error {
    color: #fa5252;
    border-color: #fa5252;
    margin-top: 10px;
  }
}
