.logo {
  background-size: cover;
}

.logo-desktop {
  background-image: url('../../../assets/logo-primary.png');
  height: 200px;
  width: 200px;
}

.logo-mobile {
  background-image: url('../../../assets/logo-mobile.png');
  height: 150px;
  width: 150px;
}
