.menu-container {
  display: flex;
  justify-content: space-between;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.mantine-Drawer-closeButton {
  svg {
    height: 48px;
    width: 48px;
  }
}
